<div class="announcement">
  <h3>Title: {{announcement.title}} - {{announcement.creationDate}}</h3>
  <p>Author: {{announcement.author}}</p>
  <p>{{announcement.content}}</p>
  <p>Expires: {{announcement.expirationDate}}</p>
</div>
